<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title align="right">Moods</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-style">
  <ion-list>
    <button class="bg-style" ion-item *ngFor="let item of items" (click)="itemSelected(item)">
      <ion-icon [name]="item.icon" item-start></ion-icon>
      {{item.title}}
      <!--<div class="item-note" item-end>
        {{item.note}}
      </div>-->
      <!--<ion-option ion-item *ngIf="item.title === 'Liquid Courage'"></ion-option>
      <ion-item *ngIf="item.title === 'Healthy'"></ion-item>-->
    </button>

  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
